# Environment related stuff
.envrc
.venv
.vscode

# Common ignores
build
*.log
*.egg-info
__pycache__/

# Output dirs
dag
processes
logs

# Automatically gen files
*_debug
nsqso_born.inc
py.py

output
